
  <div class="container">

    <div id="roomList">
      <ul class="rooms">
      </ul>
    </div>

    <div id="messageView">
      <ul class="messages">
      </ul>
      <div id="newMessage">
        <input type="text" id="myText" value="Type your message...">
        <button onclick="sendMessage()">Send</button>
      </div>
    </div>
  </div>




<script>



//room list section
class RoomList{
  constructor(sel){
    this.el = document.querySelector(sel);
    this.getRooms(this.render.bind(this));
  }
  getRooms(cb){
    fetch('/rooms.json', {credentials: 'include'})
      .then(function(response) {
        return response.json();
      })
      .then(function(json) {
        cb(json)
      });
  }
  render(list){
    var roomList = this.el.querySelector('.rooms');
    for(let i=0; i<list.length; i++){
      var li = document.createElement('li');
      var link = document.createElement('a');
      link.innerHTML = list[i].name;
      li.appendChild(link);
      roomList.appendChild(li);
      li.addEventListener('click', () => {
        this.onRoomSelected(list[i].id);
      });
    }
  }
}


//message content
class MessageList {
  constructor(sel, room_id) {
    this.messageview = document.querySelector(sel);
    this.room_id = room_id;
    this.getMessages(this.render.bind(this));
  }
  getMessages(cb){
  fetch('/rooms/' + this.room_id + '/messages.json', {credentials: 'include'})
    .then(function(response) {
      return response.json();
    })
    .then(function(json) {
      cb(json)
    });
  }
  render(list){
    var mList = this.messageview.querySelector('.messages');
    mList.innerHTML = '';
    for(let i=0; i<list.length; i++){
     var span = document.createElement('span');
      var link = document.createElement('p');
      span.innerHTML = list[i].content;
      link.appendChild(span);
      mList.appendChild(link);
    }
  }
}


var roomList = new RoomList('#roomList');
var currentRoom;
roomList.onRoomSelected = function(id){
  currentRoom = id;
  var messagebox = new MessageList('#messageView', id);
};


// sending messages
function sendMessage() {
    var data ={};
    var data = document.getElementById("myText").value;
    // document.getElementById("messages").innerHTML = data;
    console.log(data);

  // construct an HTTP request
  var xhr = new XMLHttpRequest();

  let token = document.querySelector('meta[name="csrf-token"]').getAttribute('content');

  xhr.open('POST', '/rooms/' + currentRoom + '/messages.json', true);
  xhr.setRequestHeader('X-CSRF-Token', token);
  // xhr.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');

  // send the collected data as JSON
  xhr.send(JSON.stringify(data));

  xhr.onloadend = function () {
    // done
  };




}



</script>

