/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*border: #b3b3b3;*/

 /*@import 'font-awesome.css'*/


* {
  width: 100%;
  margin : 0;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background-color: #60656F;
}

.page {
  display: grid;
  grid-template-columns:  10% auto;
}

.icons {
  font-size: 2em;
  text-align: center;
  vertical-align: baseline;

}

.vertical-menu {
    grid-column: 1;
    color: white;
    height: 100%;
    width: 70px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #549F93;
    overflow-x: hidden;
    padding-top: 20px;
      vertical-align: baseline;
}

.vertical-menu a {
    color: white;
    display: block;
    padding-top: 20px;
/*  padding: 12px;*/
    text-decoration: none;
    vertical-align: baseline;
    padding-bottom: 20px;
}

.vertical-menu a:hover {
    background-color: #60656F;
}

.vertical-menu a.active {
    background-color: #4CAF50;
    color: white;
}

.logo {
  text-align: center;
  font-size: 5em;
  font-family: monospace;
  margin-top: -20px;
}

.alert {
    background-color: beige;
    width: 60%;
    margin: 0px auto;
    padding: 15px;
    z-index: 3;
    position: absolute;
    left: 25%;
    text-align: center;
    box-shadow: 2px 2px 10px #303030;
}








.container {
  grid-column: 2;
  display: grid;
  grid-template-columns:  35% auto;

  grid-gap: 10px;
  background-color: white;
  padding: 10px;
  /*border: 1px solid #b3b3b3;*/
  overflow-y:auto;
  height: 80vh;
  margin: 50px;
  width: 90%;
  margin: 30px, auto;
  box-shadow: 0px 0px 5px #303030;
  padding: 25px 0px;
}

#messageView {
  grid-column: 2;
  position: relative;
  top: 0;
  right: 0;
  overflow: scroll;  

}

#newMessage {
  height: 20%;
  position: sticky;
  bottom: -1px;
  width: 98%;
  /*border-top: 1px solid #b3b3b3;*/
  z-index: 2;
  background-color: white;
}
#roomList{
   grid-column: 1;
  height: 100%;
  border-right: 1px solid #b3b3b3;
}

.rooms{
  list-style-type: none;
}

ul .messages{
  width: 80%;
}

.messages {
  width: 92%;
  min-height: 80%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  list-style-type: none;

}
/*.messages,ul,li{

    width: 90%;

}*/

.messages li{
    background-color: beige;
    border: 0px solid gray;
    margin: 4px;
    padding: 10px;
    color: #303030;
    /*margin-left: -40px;*/
    display: inline-block;
    list-style-type: none;
    min-width: 240px;
    min-height: 13px;

    /*font-size: 0.9em;*/
    margin-left: -40px;
}

.rooms li{
  margin-top: 8px;
  }

/*.messages li .their_message{
  float: right;
  margin-left: 20px;
  list-style-type: none;

}*/
/*
.messages li{
    background-color: beige;
    border: 0px solid gray;
    margin: 10px;
    padding: 10px;
    margin-left: -40px;
}*/



.login, .sign-up, .edit{
  grid-column: 2;
  width: 50%;
  margin: 50px auto;

}

 input {   

    width: 96%;
    height: 40px;
/*    background-color: beige;
*/    background-color: white;
    color: gray;
    padding-left: 10px;
    margin: 20px auto;
    border: 1px solid gainsboro;
}

 button {   
    width: 99%;
    height: 40px;
    background-color: #C49991;
    margin: -10px auto;
    border: 1px solid white;
    color: white;
/*    font-weight: bold;
*/    font-size: 0.75em;
}


